<section>
  <div class="container com-sp pad-bot-70">
      <div class="row">
          <div class="con-title">
              <h2>A Wealth of Knowledge  <span> To Heal and Help others.</span></h2>
              <p>Lets be Passionate About Medicine, Compassionate About People.</p>
          </div>
      </div>
      <div class="row">
          <div class="ed-course">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="about.html">
                          <img src="assets/images/finance.jpg" alt=""style="max-height: 155px; ">
                          <span>Finance</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/entrepreneur.jpg" alt=""  style="min-height: 155px; ">
                          <span>Entrepreneurship</span>
                      </a>
                  </div>
              </div>
             
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="dashboard.html">
                          <img src="assets/images/management.jpg" alt=""style="max-height: 155px;">
                          <span>Management</span>
                      </a>
                  </div>
              </div>
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="all-courses.html">
                          <img src="assets/images/sales.jpg" alt=""style="max-height: 155px;">
                          <span>Sales</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="research.html">
                          <img src="assets/images/datanstat.jpg" alt=""style="max-height: 150px;">
                          <span>Data Analytics & Statistics</span>
                      </a>
                  </div>
              </div>
             
              
             
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="db-time-line.html">
                          <img src="assets/images/hr.jpg" alt=""style="max-height: 150px;">
                          <span>Human Resources</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/buisnesslaws.jpg" alt=""style="max-height: 150px;">
                          <span>Buisness Laws</span>
                      </a>
                  </div>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="events.html">
                          <img src="assets/images/comm.png" alt=""style="max-height: 150px;">
                          <span>Communications</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
