<section class="wed-hom-footer">
  <div class="container">
     
      <div class="row wed-foot-link">
          <div class="col-md-4 foot-tc-mar-t-o">
              <h4>Top Courses</h4>
              <ul>
                  <li><a href="course-details.html">Accounting/Finance</a></li>
                  <li><a href="course-details.html">civil engineering</a></li>
                  <li><a href="course-details.html">Art/Design</a></li>
                  <li><a href="course-details.html">Marine Engineering</a></li>
                  <li><a href="course-details.html">Business Management</a></li>
                  <li><a href="course-details.html">Journalism/Writing</a></li>
                  <li><a href="course-details.html">Physical Education</a></li>
                  <li><a href="course-details.html">Political Science</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4>New Courses</h4>
              <ul>
                  <li><a href="course-details.html">Sciences</a></li>
                  <li><a href="course-details.html">Statistics</a></li>
                  <li><a href="course-details.html">Web Design/Development</a></li>
                  <li><a href="course-details.html">SEO</a></li>
                  <li><a href="course-details.html">Google Business</a></li>
                  <li><a href="course-details.html">Graphics Design</a></li>
                  <li><a href="course-details.html">Networking Courses</a></li>
                  <li><a href="course-details.html">Information technology</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4>HELP & SUPPORT</h4>
              <ul>
                  <li><a href="#">24x7 Live help</a>
                  </li>
                  <li><a href="#">Contact us</a>
                  </li>
                  <li><a href="#">Feedback</a>
                  </li>
                  <li><a href="#">FAQs</a>
                  </li>
                  <li><a href="#">Safety Tips</a>
                  </li>
              </ul>
          </div>
      </div>
     
  </div>
</section>

<!-- COPY RIGHTS -->
<section class="wed-rights">
  <div class="container">
      <div class="row">
          <div class="copy-right">
              <p>Copyrights © 2019. All rights reserved.</p>
          </div>
      </div>
  </div>
</section>

