
    <section>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item slider1 active">
                  <img src="assets/images/in.jpg" alt="">
                  <div class="carousel-caption slider-con">
                  
                      <a href="#" class="bann-btn-1">Become an Instructor</a>
                  </div>
              </div>
              
             
          </div>

          
      </div>
  </section>

<section>
  <div class="container com-sp pad-bot-70">
      <div class="row">
          <div class="cor about-sp">
              <div class="ed-about-tit">
                  <div class="con-title">
                      <h2>Become  <span> an Instructor</span></h2>
                      <p>Create an online video course and earn money by teaching people around the world.</p>
                  </div>
              </div>
              <div class="pg-contact">
                  <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                    <h4>Earn Money</h4>
                      <p>Earn money every time a student purchases your course. Get paid monthly through PayPal or Payoneer, it’s your choice.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="img/contact/1.png" alt="">
                      <h4>Inspire Students</h4>  
                       <p>Help people learn new skills, advance their careers, and 
                        <br> explore their hobbies by<br> sharing your knowledge.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="img/contact/2.png" alt="">
                      <h4>Share Your Knowledge</h4>
                      <p>Help people learn new skills, advance their careers, and 
                        <br> explore their hobbies by<br> sharing your knowledge.</p>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="img/contact/3.png" alt="">
                      <h4>Join Our Community</h4>
                      <p> 
                          Take advantage of our active community of instructors  to help 
                          <br>you through your course creation process.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--SECTION END-->

<div class="sb2-2">
              

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Add Your Information</h4>
                                   
                                </div>
                                <div class="tab-inn">
                                    <form  [formGroup]="instructorForm">
                                        <div class="form-group">
                                            <div class="input-field col s6">
                                                <input formControlName="firstname" type="text" value="" class="validate" required>
                                                <label class="">First name</label>
                                            </div></div>
                                            <div class="form-group">

                                            <div class="input-field col s6">
                                                <input formControlName="lastname" type="text" value="" class="validate" required>
                                                <label class="">Last name</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-field col s6">
                                                <input formControlName="number" type="number" value="" class="validate" required>
                                                <label class="">Phone number</label>
                                            </div></div>
                                            <div class="form-group">

                                            <div class="input-field col s6">
                                                <input formControlName="email" type="email" class="validate" value="" required>
                                                <label class="">Email Id</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <div class="input-field col s6">
                                                <input formControlName="city" type="text" value="" class="validate">
                                                <label class="">City</label>
                                            </div></div>
                                            <div class="form-group">

                                            <div class="input-field col s6">
                                                <input formControlName="country" type="text" value="" class="validate">
                                                <label class="">Country</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <div class="input-field col s6">
                                                <input formControlName="password" type="password" value="" class="validate">
                                                <label class="">Password</label>
                                            </div></div>
                                            <div class="form-group">

                                            <div class="input-field col s6">
                                                <input formControlName="cpass" type="password" value="" class="validate">
                                                <label class="">Confirm Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="file-field input-field col s12">
                                            <div class="btn admin-upload-btn">
                                              <span>Upload a PDF File</span>
                                              <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                              <input class="file-path validate" type="text" placeholder="Your Graduation Proof">
                                            </div>
                                          </div>
                                                            </div> 
                                                            <div class="row">
                                                              <div class="file-field input-field col s12">
                                                                <div class="btn admin-upload-btn">
                                                                  <span>Upload a PDF File</span>
                                                                  <input type="file">
                                                                </div>
                                                                <div class="file-path-wrapper">
                                                                  <input class="file-path validate" type="text" placeholder="Your Post Graduation Proof">
                                                                </div>
                                                              </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                  <div class="file-field input-field col s12">
                                                                                    <div class="btn admin-upload-btn">
                                                                                      <span>Upload a PDF File</span>
                                                                                      <input type="file">
                                                                                    </div>
                                                                                    <div class="file-path-wrapper">
                                                                                      <input class="file-path validate" type="text" placeholder="Your Resume">
                                                                                    </div>
         
                                                                                   
         
                                                                                  </div>
                                                                                                    </div>   
                                                                                                    <div class="row">
                                                                                                      <div class="file-field input-field col s12">
                                                                                                        <div class="btn admin-upload-btn">
                                                                                                          <span>Upload a PDF File</span>
                                                                                                          <input type="file">
                                                                                                        </div>
                                                                                                        <div class="file-path-wrapper">
                                                                                                          <input class="file-path validate" type="text" placeholder="Enter Your Industry Experience if any...">
                                                                                                        </div>
                                                                                                      </div>
                                                                                                                        </div>                               
                                                                                                    <div class="row">
                                                                                                      <div class="file-field input-field col s12">
                                                                                                        <div class="btn admin-upload-btn">
                                                                                                          <span>Upload a PDF File</span>
                                                                                                          <input type="file">
                                                                                                        </div>
                                                                                                        <div class="file-path-wrapper">
                                                                                                          <input class="file-path validate" type="text" placeholder="Enter Your Teaching Experience if any...">
                                                                                                        </div>
                                                                                                      </div>
                                                                                                                        </div>      
                                        <div class="row">
											<div class="file-field input-field col s12">
												<div class="btn admin-upload-btn">
													<span>Upload an image</span>
													<input type="file">
												</div>
												<div class="file-path-wrapper">
													<input class="file-path validate" type="text" placeholder="Profile image">
												</div>
											</div>
                                        </div>                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input" (click)="submit()"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
   