
<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>To bug is HUMAN <span>To debug is DIVINE.</span></h2>
                <p>Develop the finest innovative skills in you and build a creative future with us.</p>
            </div>
        </div>
        <div class="row">
            <div class="ed-course">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" [routerLink]="['/development/python']">
                            <img src="assets/images/python.jpg" alt="" style="max-height: 155px; ">
                            <span>Python</span>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/js-ts.jpg" alt=""  style="min-height: 155px; ">
                            <span>Javacript And Typescript</span>
                        </a>
                    </div>
                </div>
                
                
              
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/angular.jpg" alt=""style="max-height: 155px; ">
                            <span>Angular</span>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/mongodb.png" alt="" style="max-height: 155px; ">
                            <span>MongoDB</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/react.png" alt=""style="max-height: 155px; ">
                            <span>React JS</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/vue.jpg" alt=""style="max-height:155px; ">
                            <span>Vue.js</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/node.png" alt=""style="min-height: 155px; ">
                            <span>Node.js</span>
                        </a>
                    </div>
                </div>
               
             
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="dashboard.html">
                            <img src="assets/images/java.png" alt=""style="max-height: 155px;">
                            <span>Java</span>
                        </a>
                    </div>
                </div>
              
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="all-courses.html">
                            <img src="assets/images/laravel.png" alt=""style="max-height: 155px;">
                            <span>Laravel</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="research.html">
                            <img src="assets/images/php.png" alt=""style="max-height: 155px; ">
                            <span>PHP</span>
                        </a>
                    </div>
                </div>
              
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="db-time-line.html">
                            <img src="assets/images/android.jpg" alt=""style="min-height: 155px; ">
                            <span>Android</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/ios.png" alt=""style="min-height: 160px; ">
                            <span>IOS</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/.net.jpg" alt=""style="min-height: 160px; ">
                            <span>.Net</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/go.jpg" alt=""style="max-height:160px; ">
                            <span>Golang</span>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/kotlin.jpg" alt=""style="max-height:160px; ">
                            <span>Kotlin</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/scala.jpg" alt=""style="max-height:160px; ">
                            <span>Scala</span>
                        </a>
                    </div>
                </div>
               
            
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/swift.jpg" alt=""style="min-height:155px; ">
                            <span>Swift</span>
                        </a>
                    </div>
                </div>
                
          
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/unity3d.png" alt=""style="min-height:155px; ">
                            <span>Unity 3D</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/sql.png" alt=""style="min-height:155px; ">
                            <span>mySQL</span>
                        </a>
                    </div>
                </div>
               
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="seminar.html">
                            <img src="assets/images/ruby.png" alt=""style="max-height: 155px; ">
                            <span>Ruby On Rails</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  