
<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<div class="container">
    <section>
      <!-- LOGIN SECTION --> 
      <div id="modal1" class="modal fade" role="dialog">
          <div class="log-in-pop">
              <div class="log-in-pop-left">
                  <h1>Hello...</h1>
                  <p>Don't have an account? Create your account. It's take less then a minutes</p>
                  <h4>Login with social media</h4>
                  <ul>
                      <li>
                          <a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-google"></i> Google+</a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                      </li>
                  </ul>
              </div>
              <div class="log-in-pop-right">
                  <a href="#" class="pop-close" data-dismiss="modal"><img src="assets/images/cancel.png" alt="" />
                  </a>
                  <h4>Login</h4>
                  <p>Don't have an account? Create your account. It's take less then a minutes</p>
    
                    <!-- Validation And Authentication -->
                  <form [formGroup]="loginForm" class="s12">
                      <div class="form-group">
                          <div class="input-field s12">
                              <input formControlName="username" type="text" data-ng-model="name" class="validate">
                              <label>User name</label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-field s12">
                              <input  formControlName="password" type="password" class="validate">
                              <label>Password</label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="s12 log-ch-bx">
                              <p>
                                  <input type="checkbox" id="test5" />
                                  <label for="test5">Remember me</label>
                              </p>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-field s4">
                              <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"  (click)="login()"> </div>
                      </div>
                      <div class="form-group">
                          <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2" (click)="moveToRegister()">Create a new account</a> </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      </section>