
<section>
  <div class="container com-sp pad-bot-70">
      <div class="row">
          <div class="con-title">
              <h2>Software is a great combination between<br/>
                <span>Artistry and Engineering.</span></h2>
              <p>Develop the finest innovative skills in you and build a creative future with us.</p>
          </div>
      </div>
      <div class="row">
          <div class="ed-course">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="about.html">
                          <img src="assets/images/ds.png" alt="" style="max-height: 155px; ">
                          <span>Data Structures</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/ada.jpg" alt=""  style="max-height: 155px; ">
                          <span>Algorithm Design and Analysis</span>
                      </a>
                  </div>
              </div>
             
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/dc.jpg" alt=""style="max-height: 155px; ">
                          <span>Data Compression</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/oot.jpg" alt=""style="min-height: 155px; ">
                          <span>Optimization Techniques</span>
                      </a>
                  </div>
              </div>
              
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/ir.png" alt="" style="max-height: 155px; ">
                          <span>Information Retrieval</span>
                      </a>
                  </div>
              </div>
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="dashboard.html">
                          <img src="assets/images/dmath.jpg" alt=""style="max-height: 155px;">
                          <span>Discrete Mathematics</span>
                      </a>
                  </div>
              </div>
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="all-courses.html">
                          <img src="assets/images/co.jpg" alt=""style="max-height: 155px;">
                          <span>Computer Organisation and Architecture</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="research.html">
                          <img src="assets/images/os.jpg" alt=""style="max-height: 155px; ">
                          <span>Operating Systems</span>
                      </a>
                  </div>
              </div>
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="db-time-line.html">
                          <img src="assets/images/cd.png" alt="">
                          <span>Compiler Design</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/db.png.jpg" alt=""style="min-height: 160px; ">
                          <span>DataBase Management</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/mp.jpg" alt=""style="min-height: 160px; ">
                          <span>Micro Processors</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/sw.png" alt=""style="max-height:160px; ">
                          <span>Software Engineering</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/artificial-intelligence.jpg" alt="">
                          <span>Artificial Intelligence</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/cn.jpg" alt=""style="max-height:160px; ">
                          <span>Computer Networks</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/ip.jpg" alt=""style="max-height:160px; ">
                          <span>Image Processing</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/ict.jpg" alt=""style="max-height:160px; ">
                          <span>Information and Coding Theory</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/pr.jpg" alt=""style="max-height:155px; ">
                          <span>Pattern Recognition</span>
                      </a>
                  </div>
              </div>
             
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/ml.jpg" alt=""style="min-height:155px; ">
                          <span>Machine Learning</span>
                      </a>
                  </div>
              </div>
              
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/mcwc.jpg" alt=""style="max-height:155px; ">
                          <span>Wireless and Mobile Communication</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/cg.jpg" alt=""style="min-height:155px; ">
                          <span>Computer Graphics</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="events.html">
                          <img src="assets/images/toc.png" alt=""style="max-height: 155px;">
                          <span>Theory of Computation</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/dm.jpg" alt=""style="max-height:160px; ">
                          <span>Data Mining</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/qc.jpg" alt=""style="min-height: 155px; ">
                          <span>Quantum Computing</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/cc.jpg" alt=""style="max-height: 155px; ">
                          <span>Cloud Computing</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
