<section>
  <div class="container com-sp pad-bot-70">
      <div class="row">
          <div class="con-title">
              <h2>Excellence and Innovation  <span>built into every design.</span></h2>
              <p>Develop the finest innovative skills in you and build a creative future with us.</p>
          </div>
      </div>
      <div class="row">
          <div class="ed-course">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="about.html">
                          <img src="assets/images/automobile.jpg" alt="">
                          <span>Automobile Engineering</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/biomedical.jpg" alt=""  style="min-height: 155px; ">
                          <span>Biomedical Engineering</span>
                      </a>
                  </div>
              </div>
             
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="dashboard.html">
                          <img src="assets/images/chemical.jpg" alt=""style="max-height: 155px;">
                          <span>Chemical Engineering</span>
                      </a>
                  </div>
              </div>
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="all-courses.html">
                          <img src="assets/images/electrical.jpg" alt=""style="max-height: 155px;">
                          <span>Electrical Engineering</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="research.html">
                          <img src="assets/images/env.jpg" alt="">
                          <span>Environmental and Sustainability</span>
                      </a>
                  </div>
              </div>
             
              
             
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="db-time-line.html">
                          <img src="assets/images/elctronics.jpg" alt="">
                          <span>Electronics</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/mechanical.jpg" alt="">
                          <span>Mechanical Engineering</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="events.html">
                          <img src="assets/images/mechatronics.jpg" alt=""style="max-height: 150px;">
                          <span>Mechatronics</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
