
    <div class="container">
      <div class="row">
          <div class="col-md-4">
                  <div class="card">
                   
          <div class="card-title">Preview this Course</div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pls_q2aQzHg"></iframe>
            </div>

            <h4 class="">
                  Current Price : Free
            </h4>                   
              <button type="button" class="btn btn-primary">Enroll Now</button>
              <ul class="card-text">
                      <li>- 16.5 hours on-demand video</li>
                      <li>
                             - Build an AI
                             and Understand the theory.
                           
                            </li><li> - Make an AI to beat games.</li>
                            <li> - Solve Real World Problems with AI.</li>
                          <li>   -
                              Master the State of the Art AI models.</li>
                     
                      <li> -
                           Make a virtual Self Driving Car.</li>
                      <li>  -
                           Q-Learning,
                             Deep Q-Learning.</li><li>
                             - Deep Convolutional Q-Learning,
                             A3C.</li>
                     </ul>  </div>
                     
          </div>
         
       <div class="col-md-8">
             

<section>
 
      <div class="row">
          <div class="cor about-sp">

              <div class="ed-about-tit">
                  <div class="con-title">
                      <h2>Artificial Intelligence</h2>
                      <p>It promises to teach models, methods and applications for solving real-world problems using probabilistic and non-probabilistic methods as well as supervised and unsupervised learning.

                        To get the most out of the course you should expect to spend around eight to ten hours a week on the materials and exercises, over 12 weeks.How to start building AI with no previous coding experience using Python
How to merge AI with OpenAI Gym to learn as effectively as possible
How to optimize your AI to reach its maximum potential in the real world.</p>
                        
                  </div>
                  
              </div>
           
</div></div>

</section>

<div class="udb">
  <div class="udb-sec udb-time">
      <h4><img src="images/icon/db5.png" alt="" />Course Details</h4>
      <div class="spacer"><h5>113 Lectures</h5></div>
      <div class="tour_head1 udb-time-line days">
          <ul>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5>introduction</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>05:10 </span>
                                      <span>03:26 </span>
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Why AI ?</h5></div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Installing Anaconda</h5> </div>
                                 
                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5> Reinforcement Learning</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>00:52 </span>
                                  
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Fundamentals of Reinforcement Learning</h5></div>
                                 
                                 
                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5>Q-Learning Intuition</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>04:03 </span>
                                      <span>11:26 </span>
                                               <span>18:25 </span>
                                            <span> 16:26  </span> 
                                            <span> 12:55
                                              </span> 
                                            <span>  09:47  </span> 
                                            <span>14:45  </span>
                                             <span>  19:26  </span> 
                                          
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>
                                      Plan of Attack</h5></div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> What is reinforcement learning?</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> 
                                      The Bellman Equation</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>The "Plan"</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Policy vs Plan</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Adding a "Living Penalty"</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Q-Learning Intuition</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Temporal Difference</h5> </div>
                      
                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5>
                              Q-Learning Visualization</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>03:26 </span>
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Q-Learning Visualization</h5></div>
                                 
                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5>
                              Deep Q-Learning Intuition</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>15:15 </span>
                                      <span>06:06 </span>
                                      <span>15:15 </span>
                                      <span>06:06 </span>
                                      <span>15:15 </span>
                                
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Plan of Attack</h5></div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Deep Q-Learning Intuition - Learning</h5> </div>
                                 
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Deep Q-Learning Intuition - Acting</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Experience Replay</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Action Selection Policies</h5> </div>

                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5> Deep Q-Learning Implementation And Visualization</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>01:02 </span>
                                      <span>00:08 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                                      <span>15:21 </span>
                               
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Self Driving Car - Step 1</h5></div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 2</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 3</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Self Driving Car - Step 4</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 5</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 6</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 7</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Self Driving Car - Step 8</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> Self Driving Car - Step 9</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 10</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 11</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 12</h5> </div>
                                 
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 13</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 14</h5> </div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Self Driving Car - Step 15</h5> </div>

                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5>Deep Convolutional Q-Learning Intuition</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                         <span> 07:12</span>
                                      <span>05:10 </span>
                               
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Plan of Attack</h5></div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>  Deep Convolutional Q-Learning Intuition</h5> </div>
                                  
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5> 
                                          Eligibility Trace
                                          </h5> </div>
                                 
                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <div class="sdb-cl-tim">
                      <div class="sdb-cl-day">
                          <h5>Neural Networks</h5>
                      
                      </div>
                      <div class="sdb-cl-class">
                          <ul>
                              <li>
                                  <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Duration">
                                      <span>50:10 </span>
                                      <span>55:26 </span>
                                  </div>
                                  <div class="sdb-cl-class-name tooltipped"data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Artificial Neural Networks</h5></div>
                                  <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Lecture Content"> <h5>Convolutional Neural Networks</h5> </div>
                                 
                              </li>
                                     </ul>
                      </div>
                  </div>
              </li>
              
  </ul></div></div></div></div>
<div class="cor-p6">
<h3>Student Reviews</h3>
<div class="cor-p6-revi">
<div class="cor-p6-revi-left">
    <img src="assets/images/review.jpg" alt="">
</div>
<div class="cor-p6-revi-right">
    <h4>Rachel Britain</h4>
    <span>Date: 12 March, 2019</span>
    <p>
          I am really enjoying the course, learning new things. That fullfilled what I wanted.</p>
</div>
</div>
<div class="cor-p6-revi">
<div class="cor-p6-revi-left">
    <img src="assets/images/review.jpg" alt="">
</div>
<div class="cor-p6-revi-right">
    <h4>Sanjay Modasia</h4>
    <span>Date: 1 Feb, 2019</span>
    <p>So good. I really liked the projects. But I should say that when Hadelin explains codes, I didn't quite understand things. It should be explained more detailed AND there should be little side projects to understand the concepts better.</p>
</div>
</div>
<div class="cor-p6-revi">
<div class="cor-p6-revi-left">
    <img src="assets/images/review.jpg" alt="">
</div>
<div class="cor-p6-revi-right">
    <h4>Rachel Britain</h4>
    <span>Date: 12 Jan, 2019</span>
    <p>I enjoyed the course. The concepts were explained in a simple and concise manner. Definitely shows the amount of hard work put in by the instructor. The chat section is also responsive and interactive. All my doubts were answered by awesome people in this community. Just another course from Kirill Eremenko and SuperDataScience team.</p>
</div>
</div>

<div class="cor-p6">
<h3>Write Reviews</h3>
<div class="cor-p7-revi">
  <form class="col s12">
      <div class="row">
          <div class="input-field col s6">
              <input type="text" class="validate">
              <label>Name</label>
          </div>
          <div class="input-field col s6">
              <input type="text" class="validate">
              <label>Email id</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <textarea class="materialize-textarea"></textarea>
              <label>Message</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <input type="submit" value="Submit" class="waves-effect waves-light btn-book">
          </div>
      </div>
  </form>
</div>
</div>