<section>
  <div class="container com-sp pad-bot-70">
      <div class="row">
          <div class="con-title">
              <h2>A Wealth of Knowledge  <span> To Heal and Help others.</span></h2>
              <p>Lets be Passionate About Medicine, Compassionate About People.</p>
          </div>
      </div>
      <div class="row">
          <div class="ed-course">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="about.html">
                          <img src="assets/images/hpa.jpg" alt=""style="max-height: 155px; ">
                          <span>Human Physiology & Anatomy</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/biochemistry.jpg" alt=""  style="min-height: 155px; ">
                          <span>Biochemistry</span>
                      </a>
                  </div>
              </div>
             
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="dashboard.html">
                          <img src="assets/images/neurology.jpg" alt=""style="max-height: 155px;">
                          <span>Neurology</span>
                      </a>
                  </div>
              </div>
            
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="all-courses.html">
                          <img src="assets/images/pharmacy.jpg" alt=""style="max-height: 155px;">
                          <span>Pharmacy</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="research.html">
                          <img src="assets/images/pathology.jpg" alt=""style="min-height: 150px;">
                          <span>pathology</span>
                      </a>
                  </div>
              </div>
             
              
             
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="db-time-line.html">
                          <img src="assets/images/fm.jpg" alt=""style="max-height: 150px;">
                          <span>Forensic Medicine</span>
                      </a>
                  </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="seminar.html">
                          <img src="assets/images/paediatrics.jpg" alt=""style="max-height: 150px;">
                          <span>Paediatrics</span>
                      </a>
                  </div>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="ed-course-in">
                      <a class="course-overlay" href="events.html">
                          <img src="assets/images/nutrition.jpg" alt=""style="max-height: 150px;">
                          <span>Nutrition</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
