<div class="sb2-2-3">
  <div class="row">
      <div class="col-md-12">
<div class="box-inn-sp admin-form">
              <div class="inn-title">
                  <h4>Contact Us</h4>
                 
              </div>
              <div class="tab-inn">
                  <form>
                      <div class="row">
                          <div class="input-field col s6">
                              <input type="text" value="" class="validate" required>
                              <label class="">First name</label>
                          </div>
                          <div class="input-field col s6">
                              <input type="text" value="" class="validate" required>
                              <label class="">Last name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s6">
                              <input type="number" value="" class="validate" required>
                              <label class="">Phone number</label>
                          </div>
                          <div class="input-field col s6">
                              <input type="email" class="validate" value="" required>
                              <label class="">Email Id</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s6">
                              <input type="text" value="" class="validate">
                              <label class="">City</label>
                          </div>
                          <div class="input-field col s6">
                              <input type="text" value="" class="validate">
                              <label class="">Country</label>
                          </div>
                      </div>
                     
                      <div class="row">
                      <div class="input-field col s12">
                      <textarea name="message" placeholder="Write Your Queries"rows="4"required></textarea>
</div></div>
<button type="button" class="btn btn-primary"  >SUBMIT</button>
</form>
       




