
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                            <a [routerLink]="['/home']"><img src="assets/images/logo.png" alt="" />
						</a>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <!-- SLIDER -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="assets/images/inst.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Be a <span>Creative Learner</span></h2>
                        <p>Designing an experience of desirable learning with the best quality of content.Content means everything.We will see new models, new technologies and designs emerge.  </p>
                        <a href="#" class="bann-btn-1" [routerLink]="['/courses']">All Courses</a><a href="#" class="bann-btn-2" [routerLink]="['/courses']">Enroll Now</a>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/2-1.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Be a <span>Creative Learner</span></h2>
                        <p>Designing an experience of desirable learning with the best quality of content.Content means everything.We will see new models, new technologies and designs emerge.  </p>
                        <a href="#" class="bann-btn-1"[routerLink]="['/courses']">All Courses</a><a href="#" class="bann-btn-2" [routerLink]="['/courses']">Enroll Now</a>
                    </div>
                </div>
               
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </section>


    <!-- DISCOVER COURSES IN TREND -->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Discover <span>Courses in Trend</span></h2>
                    <p>Explore your favorite course today and get enroll into it for your better future.</p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" [routerLink]="['/ai']">
                                <img src="assets/images/artificial-intelligence.jpg" alt=""style="max-height: 150px;">
                                <span>Artificial-Intelligence</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay"[routerLink]="['/development']">
                                <img src="assets/images/advwebdev.jpg" alt=""style="max-height: 150px;">
                                <span>Advance Web Development</span>
                            </a>
                        </div>
                    </div>
                   
                  
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" [routerLink]="['/blockchain']">
                                <img src="assets/images/blockchain.jpg" alt=""style="max-height: 150px;">
                                <span>Blockchain</span>
                            </a>
                        </div>
                    </div>
                  
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay"[routerLink]="['/development']">
                                <img src="assets/images/mobile app development.png" alt=""style="max-height: 150px;">
                                <span>Mobile App Development</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" [routerLink]="['/mean']">
                                <img src="assets/images/mean.jpg" alt=""style="max-height: 150px;">
                                <span>Mean Stack Development</span>
                            </a>
                        </div>
                    </div>
                   
                    
                   
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" [routerLink]="['/statistics']">
                                <img src="assets/images/h-adm.jpg" alt=""style="max-height: 150px;">
                                <span>Data Analysis and Statistics</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" [routerLink]="['/medical']">
                                <img src="assets/images/medical.jpg" alt=""style="max-height: 150px;">
                                <span>Medical Science</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" [routerLink]="['/research']">
                                <img src="assets/images/h-res1.jpg" alt=""style="max-height: 150px;">
                                <span>Research & Education</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- POPULAR COURSES -->
    <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Popular <span>Courses</span></h2>
                    <p>Each course is like an interactive textbook, featuring pre-recorded videos, quizzes, and projects.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-1.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a [routerLink]="['/aerospace']">
                                    <h3>Aerospace Engineering</h3>
                                </a>
                                <h4>Technology / Space / Aerospace</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a [routerLink]="['/aerospace']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                        
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-2.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a  [routerLink]="['/agriculture']">
                                    <h3>Agriculture Courses</h3>
                                </a>
                                <h4>Technology / Cultivation Tips / Agriculture</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a  [routerLink]="['/agriculture']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                      
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 320</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-3.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a  [routerLink]="['/marine']">
                                    <h3>Marine Engineering</h3>
                                </a>
                                <h4>Technology / Ocean / Marine</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a  [routerLink]="['/marine']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                       
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 1020</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-4.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a  [routerLink]="['/civil']">
                                    <h3>Building, Construction Management</h3>
                                </a>
                                <h4>Technology / Construction / Building</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a  [routerLink]="['/civil']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                      
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 124</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-5.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a  [routerLink]="['/fashion']">
                                    <h3>Fashion Technology</h3>
                                </a>
                                <h4>Technology / Trends / Fashion</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a  [routerLink]="['/fashion']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                     
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-6.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a  [routerLink]="['/medical']">
                                    <h3>Medical Science</h3>
                                </a>
                                <h4>Technology / medicine / Science</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a [routerLink]="['/medical']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                       
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 320</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-7.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a  [routerLink]="['/biology']">
                                    <h3>Biology</h3>
                                </a>
                                <h4>Technology / Biology / Microbiology</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a  [routerLink]="['/biology']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                       
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 1020</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="assets/images/sm-8.jpg" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a [routerLink]="['/cooking']">
                                    <h3>Cooking</h3>
                                </a>
                                <h4>Technology / Nutrition / Diet Plans</h4>
                                <p>EduHub  provides universal access to the world’s best education. Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a [routerLink]="['/cooking']"><i class="fa fa-bar-chart" aria-hidden="true"></i> Enroll Now</a> </li>
                                      
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 124</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            
        </div>
    </section>
