
<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->

<section>
   <!-- REGISTER SECTION -->
   <div id="modal2" class="modal fade" role="dialog">
        <div class="log-in-pop">
            <div class="log-in-pop-left">
                <h1>Hello...</h1>
                <p>Don't have an account? Create your account. It's take less then a minutes</p>
                <h4>Login with social media</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="log-in-pop-right">
                <a href="#" class="pop-close" data-dismiss="modal"><img src="assets/images/cancel.png" alt="" />
                </a>
                <h4>Create an Account</h4>
                <p>Don't have an account? Create your account. It's take less then a minutes</p>
               
               <!-- Validation And Authentication -->
                <form [formGroup]="registerForm" class="s12" >
                    <div class="form-group">
                        <div class="input-field s12">
                            <input formControlName="username" type="text" data-ng-model="name1" class="validate">
                            <label>User name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field s12">
                            <input formControlName="email" type="email" class="validate">
                            <label>Email id</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field s12">
                            <input formControlName="password" type="password" class="validate">
                            <label>Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field s12">
                            <input formControlName="cpass" type="password" class="validate">
                            <label>Confirm password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field s4">
                            <input type="submit" value="Register"  class="waves-effect waves-light log-in-btn" (click)="register();"> </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field s12"> 
                              <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
  </section>
  <!-- FORGOT SECTION -->
  <!-- <section>
  <div id="modal3" class="modal fade" role="dialog">
      <div class="log-in-pop">
          <div class="log-in-pop-left">
              <h1>Hello... </h1>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <h4>Login with social media</h4>
              <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                  </li>
                  <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                  </li>
                  <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                  </li>
              </ul>
          </div>
          <div class="log-in-pop-right">
              <a href="#" class="pop-close" data-dismiss="modal"><img src="assets/images/cancel.png" alt="" />
              </a>
              <h4>Forgot password</h4>
              <p>Don't have an account? Create your account. It's take less then a minutes</p>
              <form class="s12">
                  <div>
                      <div class="input-field s12">
                          <input type="text" data-ng-model="name3" class="validate">
                          <label>User name or email id</label>
                      </div>
                  </div>
                  <div>
                      <div class="input-field s4">
                          <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                  </div>
                  <div>
                      <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section> -->

<!-- SOCIAL MEDIA SHARE -->
<!-- <section>
  <div class="icon-float">
      <ul>
          <li><a href="#" class="sh">1k <br> Share</a> </li>
          <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
          <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
          <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
          <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
          <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
          <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
      </ul>
  </div>
</section>  -->
